<%= my_turbo_frame_tag article do %>
  <div>
    <label>Content: </label>
    <%= article.context %>
    <%= link_to "Edit", edit_article_path(article) %>
    <%= button_to "Delete", article, method: :delete, form: { style: "display: inline;" } %>
  </div>
<% end %>
